/* Navigation */ 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header h1 a {
    font-size: 60px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;   
      
}

header nav ul li {
    width: 150px;
    height: 30px;
    list-style-position: inside;
    list-style-type: none;
    padding: 10px;
    margin-left: 50px;
    text-align: center;
    border: 1px solid black;
}
/* Wanted to add a cool hover border effect for nav bar but can't figure out how to get rid of the "shacky" effect. */

header nav ul li:hover {
    border: 3px solid black;
}
header nav ul li a {
    font-size: 25px;
    text-decoration: none;
    color: black;  
}

/* Body */

body {
    background-image: url("../images/hero-background.jpg");
    background-size: cover;
}

/* Hero Section */

.hero {
    display: flex;
    margin-top: 20px;  
    align-items: center;
}

.hero-photo img{
    width: 350px;
    height: 350px;

}

/* Main Section */ 

main {
    display: flex;    
    flex-direction: column;
}

.mainContainers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 25px;
}

.mainTitle {
    text-align: right;  
    font-size: 40px;
    font-family: cursive;
    flex: 1;
    margin-right: 50px;
}
.mainTitle h3 {
    
}

.mainContent {  
    border: 3px solid black;
    font-size: 20px;
    flex: 2;
    padding: 20px;
}

/* Contact Me Section */

.myInfo {
    display: flex; 
    justify-content: center;
    align-items: center;
    padding-top: 28px;
}

#contactInfo ul li {
    width: 150px;
    height: 30px;
    list-style-position: inside;
    list-style-type: none;
}

#contactInfo ul li a {
    font-weight: bold;
    color: black;
}
#contactInfo ul li a:hover {
    font-weight: bold;
    color: black;
    font-size: 22px;
}
@media (min-width:1097px) {
    .mainContainers {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}

.projectOne, .projectTwo, .projectThree, .projectFour {
    border: 3px solid black;
}
.projectOne {
    width: 600px;
    height: 400px;
    background-image: url("../run-buddy.jpeg");
}