body {
    padding-right: 50px;
    padding-left: 50px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
header h1 a {
    border: 1px solid black;
    font-size: 50px;
    font-weight: normal;
    text-decoration: none;
    color: black;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}
header nav ul li {
    width: 150px;
    height: 30px;
    list-style-position: inside;
    border: 1px solid black;
    list-style-type: none;
    padding: 10px;
    margin-left: 50px;
}
header nav ul li a {
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.hero {
    border: 1px solid black;
    margin-top: 20px;
}
.main {
    border: 1px solid black;
    margin-top: 20px;
}
